@model _8pos.Models.Entity.Status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Status_Id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
